* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body { background-color: #f4f4f4; color: #333; }

/* Header & Nav */
header {
    background: #003366; /* Deep blue from the card text */
    color: white;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav { display: flex; justify-content: space-between; align-items: center; }
.logo-text { font-size: 1.5rem; font-weight: bold; color: #ffcc00; }
nav ul { list-style: none; display: flex; }
nav ul li { margin-left: 20px; }
nav ul li a { color: white; text-decoration: none; font-weight: 500; }

/* Hero Section */
.hero {
    background: #ffde00; /* Yellow from card */
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-logo { width: 60px; margin-bottom: 3px; border-radius: 19px; }
.hero h1 { font-size: 3rem; color: #d32f2f; margin-bottom: 10px; }
.hero p { font-size: 1.2rem; margin-bottom: 20px; font-weight: bold; }

.btn {
    padding: 12px 30px;
    background: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover { background: #003366; }

/* Services Section */
#services { padding: 50px 5%; text-align: center; }
.route-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.route-grid span {
    background: white;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.9rem;
}

/* Footer */
footer { background: #222; color: white; padding: 40px 5% 10px; }
.footer-container { display: flex; justify-content: space-around; flex-wrap: wrap; }
.footer-box { margin-bottom: 20px; min-width: 250px; }
.footer-box h3 { color: #ffcc00; margin-bottom: 10px; }
.copy { text-align: center; border-top: 1px solid #444; margin-top: 20px; padding-top: 10px; font-size: 0.8rem; }



@media screen and (max-width: 1000px) {
header {
    background: #519ae2; /* Deep blue from the card text */
   
}




    
}
@media screen and (max-width: 400px ) {
    header {
    background: #f5f5f5; /* Deep blue from the card text */
    color: rgb(192, 180, 180);
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav  {       display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
.logo-text { font-size: 1.5rem; font-weight: bold; color: #ffcc00; }
nav ul { list-style: none; display: flex; }
nav ul li { margin-left: 20px; }
nav ul li a { color: white; text-decoration: none; font-weight: 500; }

    
}